<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddComment</servlet-name>
        <servlet-class>Controller.CommentAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentsDisplay</servlet-name>
        <servlet-class>Controller.CommentsDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentDelete</servlet-name>
        <servlet-class>Controller.CommentDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentSearch</servlet-name>
        <servlet-class>Controller.CommentSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationDetailAdd</servlet-name>
        <servlet-class>Controller.NotificationDetailAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsDisplay</servlet-name>
        <servlet-class>Controller.ProductsDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationDetailPKAdd</servlet-name>
        <servlet-class>Controller.NotificationDetailPKAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsAdd</servlet-name>
        <servlet-class>Controller.ProductsAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationDisplay</servlet-name>
        <servlet-class>Controller.NotificationDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSalesDisplay</servlet-name>
        <servlet-class>Controller.ViewSalesDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsDelete</servlet-name>
        <servlet-class>Controller.ProductsDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersSearch</servlet-name>
        <servlet-class>Controller.UsersSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersUpdate</servlet-name>
        <servlet-class>Controller.UsersUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersUpdatePassword</servlet-name>
        <servlet-class>Controller.UsersUpdatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReLogin</servlet-name>
        <servlet-class>Controller.ReLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageDisplay</servlet-name>
        <servlet-class>Controller.HomePageDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsSearchToDetail</servlet-name>
        <servlet-class>Controller.ProductsSearchToDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsSearchAndSort</servlet-name>
        <servlet-class>Controller.ProductsSearchAndSort</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentDisplay</servlet-name>
        <servlet-class>Controller.PaymentDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentUpdate</servlet-name>
        <servlet-class>Controller.PaymentUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDisplay</servlet-name>
        <servlet-class>Controller.CustomerDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatus</servlet-name>
        <servlet-class>Controller.UpdateStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDisplay</servlet-name>
        <servlet-class>Controller.StaffDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffAdd</servlet-name>
        <servlet-class>Controller.StaffAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDelete</servlet-name>
        <servlet-class>Controller.StaffDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffSearch</servlet-name>
        <servlet-class>Controller.StaffSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffUpdate</servlet-name>
        <servlet-class>Controller.StaffUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsDisplayAtHome</servlet-name>
        <servlet-class>Controller.ProductsDisplayAtHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsSearch</servlet-name>
        <servlet-class>Controller.ProductsSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsSearchToEdit</servlet-name>
        <servlet-class>Controller.ProductsSearchToEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsDisplayToStaff</servlet-name>
        <servlet-class>Controller.ProductsDisplayToStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsUpdate</servlet-name>
        <servlet-class>Controller.ProductsUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShippingReport</servlet-name>
        <servlet-class>Controller.ShippingReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RatingAndReviewReport</servlet-name>
        <servlet-class>Controller.RatingAndReviewReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesReport</servlet-name>
        <servlet-class>Controller.SalesReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserPayment</servlet-name>
        <servlet-class>Controller.UserPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserShipPack</servlet-name>
        <servlet-class>Controller.UserShipPack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartAdd</servlet-name>
        <servlet-class>Controller.CartAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDelete</servlet-name>
        <servlet-class>Controller.CartDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDisplay</servlet-name>
        <servlet-class>Controller.CartDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartNotification</servlet-name>
        <servlet-class>Controller.CartNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartUpdateQtyAndPrice</servlet-name>
        <servlet-class>Controller.CartUpdateQtyAndPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartUpdateSize</servlet-name>
        <servlet-class>Controller.CartUpdateSize</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddComment</servlet-name>
        <url-pattern>/CommentAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentDelete</servlet-name>
        <url-pattern>/secureAdmin/CommentDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentSearch</servlet-name>
        <url-pattern>/secureStaff/CommentSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationDetailAdd</servlet-name>
        <url-pattern>/secureStaff/NotificationDetailAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationDetailPKAdd</servlet-name>
        <url-pattern>/secureStaff/NotificationDetailPKAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationDisplay</servlet-name>
        <url-pattern>/NotificationDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSalesDisplay</servlet-name>
        <url-pattern>/secureStaff/ViewSalesDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsDelete</servlet-name>
        <url-pattern>/secureAdmin/ProductsDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersSearch</servlet-name>
        <url-pattern>/UsersSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersUpdate</servlet-name>
        <url-pattern>/UsersUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersUpdatePassword</servlet-name>
        <url-pattern>/UsersUpdatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReLogin</servlet-name>
        <url-pattern>/ReLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageDisplay</servlet-name>
        <url-pattern>/HomePageDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentsDisplay</servlet-name>
        <url-pattern>/secureStaff/CommentDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsDisplay</servlet-name>
        <url-pattern>/secureUser/ProductsDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsSearchToDetail</servlet-name>
        <url-pattern>/secureUser/ProductsSearchToDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsSearchAndSort</servlet-name>
        <url-pattern>/secureUser/ProductsSearchAndSort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentUpdate</servlet-name>
        <url-pattern>/secureUser/PaymentUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDisplay</servlet-name>
        <url-pattern>/secureStaff/CustomerDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentDisplay</servlet-name>
        <url-pattern>/secureUser/PaymentDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatus</servlet-name>
        <url-pattern>/secureStaff/UpdateStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDisplay</servlet-name>
        <url-pattern>/secureStaff/StaffDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffAdd</servlet-name>
        <url-pattern>/secureAdmin/StaffAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDelete</servlet-name>
        <url-pattern>/secureAdmin/StaffDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffUpdate</servlet-name>
        <url-pattern>/secureAdmin/StaffUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffSearch</servlet-name>
        <url-pattern>/secureAdmin/StaffSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsDisplayAtHome</servlet-name>
        <url-pattern>/secureUser/ProductsDisplayAtHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsSearch</servlet-name>
        <url-pattern>/secureUser/ProductsSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsSearchToEdit</servlet-name>
        <url-pattern>/secureAdmin/ProductsSearchToEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsDisplayToStaff</servlet-name>
        <url-pattern>/secureStaff/ProductsDisplayToStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsAdd</servlet-name>
        <url-pattern>/secureStaff/ProductsAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsUpdate</servlet-name>
        <url-pattern>/secureAdmin/ProductsUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShippingReport</servlet-name>
        <url-pattern>/secureStaff/ShippingReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RatingAndReviewReport</servlet-name>
        <url-pattern>/secureStaff/RatingAndReviewReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesReport</servlet-name>
        <url-pattern>/secureStaff/SalesReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserPayment</servlet-name>
        <url-pattern>/secureUser/UserPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserShipPack</servlet-name>
        <url-pattern>/secureUser/UserShipPack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartAdd</servlet-name>
        <url-pattern>/secureUser/CartAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDelete</servlet-name>
        <url-pattern>/secureUser/CartDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDisplay</servlet-name>
        <url-pattern>/secureUser/CartDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartNotification</servlet-name>
        <url-pattern>/secureUser/CartNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartUpdateQtyAndPrice</servlet-name>
        <url-pattern>/secureUser/CartUpdateQtyAndPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartUpdateSize</servlet-name>
        <url-pattern>/secureUser/CartUpdateSize</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1440
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>403</error-code>
        <location>/unauthorisedErrorPage.html</location>
    </error-page>
    <security-constraint>
        <display-name>StaffConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>SecureStaff</web-resource-name>
            <description/>
            <url-pattern>/secureStaff/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>AdminRole</role-name>
            <role-name>StaffRole</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>AdminConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>SecureAdmin</web-resource-name>
            <description/>
            <url-pattern>/secureAdmin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>AdminRole</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/loginError.html</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>AdminRole</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>StaffRole</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>UserRole</role-name>
    </security-role>
</web-app>
